img{
	display: block;
}
body{
	margin: 0;
	background: #050304;
	overflow-x: hidden;
    overflow-y: hidden;
   	display: flex;
    -webkit-justify-content: space-between;
    justify-content: center;
}
#save{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}
#IsA{
	width: 192px;
	height: 192px;
	display: block;
	background: url(imges/download.png);
	float: right;
}
#preview{
	display: none;
	top: 1em;
	/*display: flex;*/
    -webkit-justify-content: space-between;
    justify-content: center;
}
#mouse{
	width: 1em;
	height: 1em;
	position: absolute;
	pointer-events: none;
	z-index: 99;
	opacity: 0.7;
}
#Eliminate{
	position: absolute;
	right: 1em;
	top: 1em;
}
#Eliminate img{
	float: left;
	margin-left: 20px;
}
#screenshot{
	position: absolute;
	right: 1em;
	bottom: 0em;
}
#screenshot img{
	float: left;
	margin-left: 20px;
}
#body-1{
	font-size: 16px;
}

#body-2{
	font-size: 32px;
}
#body-3{
	font-size: 48px;
}
#body-4{
	font-size: 64px;
}
#catalog{
	width: 320px;
	height: 640px;
	background: url(imges/menu.png);
	position: absolute;
	z-index: 20;
	top: 2em;
	left: 0.2em;
}
#preview{
	position: absolute;
	z-index: 100;
	background: #050304;
}
#catalogBtn{
	width: 320px;
	height: 72px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.catalogBtn{
	width: 92px;
	height: 72px;
}
#menu{
	width: 320px;
	height: 504px;
}
#menu-num{
	width: 320px;
	height: 64px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
#furniture{
	width: 320px;
	height: 504px;
}
.menuNum{
	width: 252px;
	height: 482px;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: auto;
    padding-top: 22px;
    /*margin-top: 12px;*/
}
.menuNum img{
	width: 72px;
	height: 72px;
	/*margin: 10px 12px 0 12px;*/
}
#production{
	width: 320px;
	height: 504px;
	display: none;
		
}
#Wall{
	width: 320px;
	height: 504px;
	display: none;
}
#zoom{
	width: 448px;
	height: 128px;
	background:url(imges/zoom-100.png);
	position: absolute;
	z-index: 21;
	top: 85%;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#camera{
	background: #050304;
	position: absolute;
	z-index: -3;
	top: 1em;
}
.camera-L{
	width: 35em;
	height: 25em;
}


#canvas{
	position: absolute;
	z-index: 5;
	top: 0;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.canvas-S{
	width: 12em !important;
	height: 12em !important;
}
.canvas-M{
	width: 30em !important;
	height: 12em !important;
}
.canvas-XL{
	width: 35em !important;
	height: 25em !important;
}

#canvas div{
	width: 1em;
	height: 1em;
}
#canvas div:first-child{
	width: 1em !important;
	height: 1em !important;
}






#home{
	margin: auto;
	position: absolute;
	/*overflow:hidden*/	
}
.home-L{
	width: 35em;
	height: 25em;
	background:url(imges/home-4-bj.png);
	background-size:35em;
}
#wall-bj{
	z-index: -1;
	position: relative;
	margin-top: 1em;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
.wall-bj-L{
	width: 35em;
	height: 25em;
}
#bj-wall-1{
	background:url(imges/wall-1.png);
	background-size:1em;
}
.bj-wall-1-L{
	width: 13em;
	height: 3em;
}
#bj-wall-2{
	background:url(imges/wall-62.png);
	background-size:1em;
}
.bj-wall-2-L{
	width: 2em;
	height: 3em;
	margin-top: 2em;
}
#bj-wall-3{
	background:url(imges/wall-62.png);
	background-size:1em;
}
.bj-wall-3-L{
	width: 13em;
	height: 3em;
}
#bj-wall-4{
	background:url(imges/wall-2.png);
	background-size:1em;
}
.bj-wall-4-L{
	width: 10em;
	height: 3em;
	margin-top: 4em;
}
#bj-wall-5{
	background:url(imges/wall-1.png);
	background-size:1em;
}
.bj-wall-5-L{
	width: 7em;
	height: 3em;
	margin-top: 4em;
	margin-left: 4em;
}
#bj-wall-6{
	background:url(imges/wall-1.png);
	background-size:1em;
}
.bj-wall-6-L{
	width: 2em;
	height: 3em;
	margin-top: 9em;
}
#bj-wall-7{
	background:url(imges/wall-1.png);
	background-size:1em;
}
.bj-wall-7-L{
	width: 11em;
	height: 3em;
	margin-top: 4em;
}
#floor-bj{
	position: relative;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
.floor-bj-L{
	width: 35em;
	height: 20em;
	z-index: -2;
	top: -23em;
}


#bj-floor-1{
	background:url(imges/floor-1.png);
	background-size:2em;
	
}
.bj-floor-1-L{
	width: 13em;
	height: 6em;
}
#bj-floor-2{
	background:url(imges/floor-1.png);
	background-size:2em;
}
.bj-floor-2-L{
	width: 2em;
	height: 4em;
}
#bj-floor-3{
	background:url(imges/floor-1.png);
	background-size:2em;
}
.bj-floor-3-L{
	width: 13em;
	height: 6em;
}
#bj-floor-4{
	background:url(imges/Kitchen-floor.png);
	background-size:2em;
}
.bj-floor-4-L{
	width: 10em;
	height: 11em;
	margin-top: 3em;
}
#bj-floor-5{
	background:url(imges/floor-1.png);
	background-size:2em;
}
.bj-floor-5-L{
	width: 11em;
	height: 9em;
	margin-top: 3em;
}
#bj-floor-6{
	background:url(imges/floor-1.png);
	background-size:2em;
}
.bj-floor-6-L{
	width: 2em;
	height: 2em;
	margin-top: 8em;
}
#bj-floor-7{
	background:url(imges/floor-1.png);
	background-size:2em;
}
.bj-floor-7-L{
	width: 11em;
	height: 11em;
	margin-top: 3em;
}




#home-btn{
	/*background:red;*/
	background-size:30em;
	margin: auto;
	position: absolute;
	z-index: 20;
	display: none;
}
.home-L-btn{
	width: 35em;
	height: 25em;
}
#wall-bj-btn{
	margin-top: 1em;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
#floor-bj-btn{
	position: relative;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    align-content: flex-start;
}
.home-1-not{
	pointer-events: none;
	/*background: #000;*/
	/*opacity:0.5;*/
}

.home-S-bj-x{
	position: absolute;
	z-index: 10;
	pointer-events: none;
	width: 30em !important;
	height: 2em !important;
}
.home-M-bj-x{
	position: absolute;
	z-index: 10;
	pointer-events: none;
	width: 30em !important;
	height: 2em !important;
}
.home-L-1-bj-x{
	position: absolute;
	z-index: 10;
	pointer-events: none;
	width: 35em !important;
	height: 19em !important;
}
.home-L-2-bj-x{
	position: absolute;
	z-index: 10;
	pointer-events: none;
	width: 35em !important;
	height: 19em !important;
}
.DoubleBed{
	pointerEvents: none;
	width: 3em;
	height: 4em;
	background:url(imges/DoubleBed.png);
	background-size:3em;
}
.bed{
	pointerEvents: none;
	width: 2em;
	height: 4em;
	background:url(imges/bed.png);
	background-size:2em;
}
.BabyDed{
	pointerEvents: none;
	width: 3em;
	height: 4em;
	background:url(imges/BabyDed.png);
	background-size:3em;
}
.kitchen-L{
	pointerEvents: none;
	width: 1em;
	height: 9em;
	background:url(imges/kitchen-L.png);
	background-size:1em;
}
.kitchen-R{
	pointerEvents: none;
	width: 6em;
	height: 3em;
	background:url(imges/kitchen-R.png);
	background-size:6em;
}
#Choice{
	background: #050304;
	position: absolute;
	z-index: 999;
	display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
#Choice div{
	width: 200px;
	height: 240px;
	margin-left: 1em;
	margin-right: 1em;
}
#Choice-S{
	
}
#Choice-M{
	
}
#Choice-L{
	
}