img{
	display: block;
}
body{
	margin: 0;
	background: #050304;
	overflow-x: hidden;
    overflow-y: hidden;
   	display: flex;
    -webkit-justify-content: space-between;
    justify-content: center;
}
#save{
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: column;
    flex-direction: column;
}
#IsA{
	width: 192px;
	height: 192px;
	display: block;
	background: url(imges/download.png);
	float: right;
}
#preview{
	display: none;
	top: 1em;
	/*display: flex;*/
    -webkit-justify-content: space-between;
    justify-content: center;
}
#mouse{
	width: 1em;
	height: 1em;
	position: absolute;
	pointer-events: none;
	z-index: 99;
	opacity: 0.7;
}
#Eliminate{
	position: absolute;
	right: 1em;
	top: 1em;
}
#Eliminate img{
	float: left;
	margin-left: 20px;
}
#screenshot{
	position: absolute;
	right: 1em;
	bottom: 0em;
}
#screenshot img{
	float: left;
	margin-left: 20px;
}
#body-1{
	font-size: 16px;
}

#body-2{
	font-size: 32px;
}
#body-3{
	font-size: 48px;
}
#body-4{
	font-size: 64px;
}
#catalog{
	width: 320px;
	height: 640px;
	background: url(imges/menu.png);
	position: absolute;
	z-index: 20;
	top: 2em;
	left: 0.2em;
}
#preview{
	position: absolute;
	z-index: 100;
	background: #050304;
}
#catalogBtn{
	width: 320px;
	height: 72px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
.catalogBtn{
	width: 92px;
	height: 72px;
}
#menu{
	width: 320px;
	height: 504px;
}
#menu-num{
	width: 320px;
	height: 64px;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
}
#furniture{
	width: 320px;
	height: 504px;
}
.menuNum{
	width: 252px;
	height: 482px;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: auto;
    padding-top: 22px;
    /*margin-top: 12px;*/
}
.menuNum img{
	width: 72px;
	height: 72px;
	/*margin: 10px 12px 0 12px;*/
}
#production{
	width: 320px;
	height: 504px;
	display: none;
		
}
#Wall{
	width: 320px;
	height: 504px;
	display: none;
}
#zoom{
	width: 448px;
	height: 128px;
	background:url(imges/zoom-100.png);
	position: absolute;
	z-index: 21;
	top: 85%;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
#camera{
	background: #050304;
	width: 30em;
	height: 12em;
	position: absolute;
	z-index: -3;
	top: 1em;
}
#camera-1{
	background: #050304;
	width: 30em;
	height: 12em;
	position: absolute;
	z-index: -3;
	top: 1em;
}
#home{
	width: 30em;
	height: 12em;
	background:url(imges/home-2-bj.png);
	background-size:30em;
	margin: auto;
	position: absolute;
	/*overflow:hidden*/	
}
.home{
	position: absolute;
}

.canvas-1{
	width: 12em !important;
	height: 12em !important;
	position: absolute;
	z-index: 5;
	top: 0;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /*display: none;*/
}
.canvas-2{
	width: 30em !important;
	height: 12em !important;
	position: absolute;
	z-index: 5;
	top: 0;
	display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /*display: none;*/
}
.canvas{
	pointer-events: none;
}
#canvas div{
	width: 1em;
	height: 1em;
}
#canvas div:first-child{
	width: 1em !important;
	height: 1em !important;
}
/*#canvas div img{
	width: 1em;
	height: 1em;
}*/
#wall-bj{
	width: 30em;
	height: 3em;
	position: relative;
	z-index: -1;
	position: relative;
	margin-top: 1em;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
#bj-wall-1{
	width: 18em;
	height: 3em;
	background:url(imges/wall-1.png);
	background-size:1em;
}
#bj-wall-2{
	width: 2em;
	height: 3em;
	background:url(imges/wall-1.png);
	background-size:1em;
	margin-top: 4em;
}
#bj-wall-3{
	width: 9em;
	height: 3em;
	background:url(imges/wall-1.png);
	background-size:1em;
}
#floor-bj{
	width: 30em;
	height: 9em;
	position: relative;
	z-index: -2;
	position: relative;
	top: -1em;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
#Kitchen-floor{
	width: 7em;
	height: 9em;
	background:url(imges/Kitchen-floor.png);
	background-size:2em;
	
}
#bj-floor-1{
	width: 11em;
	height: 9em;
	background:url(imges/floor-1.png);
	background-size:2em;
	
}
#bj-floor-2{
	width: 2em;
	height: 9em;
	background:url(imges/floor-1.png);
	background-size:2em;
}
#bj-floor-3{
	width: 9em;
	height: 9em;
	background:url(imges/floor-1.png);
	background-size:2em;
}
.home-1-not{
	pointer-events: none;
	/*background: #000;*/
	/*opacity:0.5;*/
}
#home-1-bj-x{
	position: absolute;
	z-index: 10;
	pointer-events: none;
	width: 12em !important;
	height: 2em !important;
}
.home-2-bj-x{
	position: absolute;
	z-index: 10;
	pointer-events: none;
	width: 30em !important;
	height: 2em !important;
}
#bed-1{
	width: 2em;
	height: 3em;
}
#bed-not{
	pointer-events: none;
}
#wall-bj-btn{

}
#home-btn{
	width: 30em;
	height: 12em;
	/*background:red;*/
	background-size:30em;
	margin: auto;
	position: absolute;
	/*overflow:hidden*/	
	z-index: 20;
	/*pointer-events: none;*/
	display: none;
}
#wall-bj-btn{
	width: 30em;
	height: 3em;
	position: relative;
	margin-top: 1em;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
#bj-wall-1-btn{
	width: 18em;
	height: 3em;
}
#bj-wall-2-btn{
	width: 2em;
	height: 3em;
	margin-top: 4em;
}
#bj-wall-3-btn{
	width: 9em;
	height: 3em;
}
#floor-bj-btn{
	width: 30em;
	height: 9em;
	position: relative;
	top: -1em;
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
#Kitchen-floor-btn{
	width: 7em;
	height: 9em;	
}
#bj-floor-1-btn{
	width: 11em;
	height: 9em;	
}
#bj-floor-2-btn{
	width: 2em;
	height: 9em;	
}
#bj-floor-3-btn{
	width: 9em;
	height: 9em;	
}